*{
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background-color: aliceblue;
    display: flex;
    height: 100vh;
}
.parent1 {
    display: flex;
    flex-direction: row;
    padding: 20px;  
}
.child1 {
    padding: 30px;
}
.btn1 {
    background-color: white;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    float: right;
    top: 10px;
    right: 0;
    margin-left: 100px;
    margin: 0;
}
.child3 {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.h5 {
    font-family:'Open Sans',sans-serif;
    font-weight: 1000;
    font-size: 30px;
    text-align: left;
}
.p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}
.btn2 {
    background-color: hsl(322, 100%, 66%);
    border-radius: 20px;
    color:aliceblue;
    padding: 20px;
    cursor: pointer;
    margin: 60px;
    text-align: center;
    size: 20px;
    font-size: 18px;
    margin-inline: 20px;
    letter-spacing: 1px;
}
.child4 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: left;
}
.h {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.parent2 {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 0;
}
.parent3 {
    background-color: hsl(192, 100%, 9%);
    display: flex;
    width: fit-content;
    flex-direction: column;
    width: auto;
}
.logo {
    color:antiquewhite
}
.navbar {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.center {
    position: center;
    margin: auto;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #3B5998;
    color: white; 
}
@media screen and (max-width:1140px) {
    .navbar {
        width: 25%;
    }
    .body {
        background-image: 'bg-hero-desktop.svg';
    }    
}
@media screen and (min-width:600px) {
    body {
        background-image: 'bg-hero-mobile.svg';
    }
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        bottom: o;
    }
    .navbar.responsive a {
        float: none;
        display:block;
        text-align: left;
    }
    .navbar {
        width: 100%;
    }
}